// 日本語フォント
.jp-nsjp-400 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jp-nsjp-700 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.jp-km-400 {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.jp-km-500 {
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
}

// 英語フォント
.en-c-400 {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.en-js-400 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.en-js-500 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
